<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>1화</string>
			<key>thumbnailImage</key>
			<string>1.square.fill</string>
			<key>score</key>
			<real>99.2</real>
			<key>uploadDate</key>
			<date>2022-11-02T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>2화</string>
			<key>thumbnailImage</key>
			<string>2.square.fill</string>
			<key>score</key>
			<real>99.2</real>
			<key>uploadDate</key>
			<date>2022-12-02T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>3화</string>
			<key>thumbnailImage</key>
			<string>3.square.fill</string>
			<key>score</key>
			<real>99.8</real>
			<key>uploadDate</key>
			<date>2022-12-10T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>4화</string>
			<key>thumbnailImage</key>
			<string>4.square.fill</string>
			<key>score</key>
			<real>96</real>
			<key>uploadDate</key>
			<date>2022-12-18T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>5화</string>
			<key>thumbnailImage</key>
			<string>5.square.fill</string>
			<key>score</key>
			<real>94.2</real>
			<key>uploadDate</key>
			<date>2022-12-25T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>6화</string>
			<key>thumbnailImage</key>
			<string>6.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2022-12-31T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>7화</string>
			<key>thumbnailImage</key>
			<string>7.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2023-01-07T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>8화</string>
			<key>thumbnailImage</key>
			<string>8.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2023-01-17T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>1화</string>
			<key>thumbnailImage</key>
			<string>1.square.fill</string>
			<key>score</key>
			<real>99.2</real>
			<key>uploadDate</key>
			<date>2022-11-05T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>2화</string>
			<key>thumbnailImage</key>
			<string>2.square.fill</string>
			<key>score</key>
			<real>99.2</real>
			<key>uploadDate</key>
			<date>2022-11-11T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>3화</string>
			<key>thumbnailImage</key>
			<string>3.square.fill</string>
			<key>score</key>
			<real>99.8</real>
			<key>uploadDate</key>
			<date>2022-11-14T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>4화</string>
			<key>thumbnailImage</key>
			<string>4.square.fill</string>
			<key>score</key>
			<integer>96</integer>
			<key>uploadDate</key>
			<date>2022-11-24T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>5화</string>
			<key>thumbnailImage</key>
			<string>5.square.fill</string>
			<key>score</key>
			<real>94.2</real>
			<key>uploadDate</key>
			<date>2022-12-01T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>6화</string>
			<key>thumbnailImage</key>
			<string>6.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2022-12-07T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>7화</string>
			<key>thumbnailImage</key>
			<string>7.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2022-12-17T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>8화</string>
			<key>thumbnailImage</key>
			<string>8.square.fill</string>
			<key>score</key>
			<real>98.2</real>
			<key>uploadDate</key>
			<date>2022-12-27T11:30:29Z</date>
			<key>price</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
